@media(max-width: 480px) {
    #contact {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 481px) {
    #side-bar {
        width: 20%;
    }

    #content {
        width: 80%;
    }
}