@import url(/assets/css/mobile.css);

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
    font-family: "Raleway";
    src:
        url(/assets/fonts/Raleway-VariableFont_wght.woff),
        url(/assets/fonts/Raleway-VariableFont_wght.ttf) type("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url(/assets/fonts/Raleway-Italic.woff),
        url(/assets/fonts/Raleway-Italic.ttf) type("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: bold;
    src: url(/assets/fonts/Raleway-Bold.woff),
        url("/assets/fonts/Raleway-Bold.ttf") type("truetype");
}

* {
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

:root {
    --color1: #782221;
    --color2: #dbc2a4;
    --color3: #2c1d27;
}

body {
    width: 1160px;
    margin: auto;
    border-right: 1px solid black;
}

h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
}

p,
a,
ul {
    font-family: "Raleway", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--color1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -10px -10px 10px var(--color2), 10px 10px 10px var(--color2), 10px -10px 10px var(--color2), -10px 10px 10px var(--color2);
    margin: auto;
    margin-top: 20px;
}

header img:hover {
    cursor: zoom-in;
}

#infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    line-height: 60px;
}

#contact {
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    ;
}

main {
    display: flex;
}

#side-bar {
    background-color: var(--color1);
    color: white;
}

#side-bar p,
#side-bar ul {
    padding: 25px;
}

#side-bar h2 {
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 10px;
    background-color: var(--color2);
    color: black;
}

#about_me {
    text-indent: 30px;
}

#content {
    padding: 25px;
}

.title {
    display: flex;
    margin-top: 15px;
}

#content h2 {
    background-color: var(--color2);
    padding-left: 10px;
    width: 100%;
    height: 30px;
}

.insertion {
    width: 8px;
    height: 30px;
    background-color: var(--color2);
}

.title:hover .insertion {
    background-color: var(--color1);
}

#content h3,
#content p,
#content ul {
    padding: 10px;
}

footer {
    background-color: var(--color1);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
    height: 50px;
}
.logo img:hover {
    opacity: 0.7;
}

#social_media {
    display: flex;
    justify-content: space-between;
    width: 200px;
}